/* @replete Folder Separators v2 tested with Obsidian 1.1.9 */

/* Separator  below nav item */
/*.nav-folder-children > [class*=nav-]:has([data-path="chaos"])::after,*/
.nav-folder-children > [class*=nav-]:has([data-path="src/术语-"])::after,
.nav-folder-children > [class*=nav-]:has([data-path="src/运算法则-"])::after,
.nav-folder-children > [class*=nav-]:has([data-path="src"])::after,
.nav-folder-children > [class*=nav-]:has([data-path="____"])::after
{
    content:'';
    display:block;
    height:1px;
    width:100%;
    background:linear-gradient(to right, var(--divider-color), transparent);
    margin:6px 0 6px -8px;
}

/* Separator above nav item */
.nav-folder-children > [class*=nav-]:has([data-path="chaos"])::before,
.nav-folder-children > [class*=nav-]:has([data-path="sortspec.md"])::before,
.nav-folder-children > [class*=nav-]:has([data-path="README.md"])::before,
.nav-folder-children > [class*=nav-]:has([data-path="src"])::before,
.nav-folder-children > [class*=nav-]:has([data-path="src/1以下为未开始的模块,上面是已经开始的.md"])::before,
.nav-folder-children > [class*=nav-]:has([data-path="____"])::before
{
    content:'';
    display:block;
    height:1px;
    width:100%;
    background:linear-gradient(to right, var(--divider-color), transparent);
    margin:6px 0 6px -8px;
}
